<main style="background-color: #E9EAEA;">
  <div class="container-fluid text-center" style="background-color: #E9EAEA;">
    <!-- headSection -->
    <div class="headSection">
      <div class="ticketContainer">
        <i class="pi pi-arrow-right backbtn"></i>
        <span>تذكرة رقم #2342</span>
      </div>
      <div class="editContainer">
        <button><i class="pi pi-pencil editBtn"></i>تعديل</button>
      </div>
    </div>
    <!-- chart and card -->
    <div class="row">
      <div class="chart">
        <app-chart></app-chart>
      </div>
      <div class="card">
        <app-card></app-card>
      </div>
    </div>
    <!-- table section -->
    <div class="tableHeadSection">
      <div class="ticketContainer">
        <span class="HeaderTxt">مبيعات التذاكر</span>
        <div class="search-bar">
          <div class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input class="searchBar" type="text" pInputText placeholder="بحث عن...">
          </div>
        </div>
        <div class="icons">
          <i class="pi pi-sliders-h"></i>
          <i class="pi pi-sort-alt"></i>
        </div>
      </div>
      <div class="tableBtns">
        <div class="containerFirst">
          <div>
            <p-inputSwitch></p-inputSwitch>
          </div>
          <p>مفعلة</p>
        </div>
        <p-button label="حجز تذكرة جديدة"></p-button>
      </div>
    </div>
    <div class="table">
      <app-table></app-table>
    </div>
  </div>
</main>
<router-outlet></router-outlet>